{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "IT52 API",
    "url" : "https://www.it52.info/api/v1"
  } ],
  "info" : {
    "description" : "IT52 API",
    "version" : "2",
    "title" : "IT52 API",
    "contact" : {
      "email" : "events@www.it52.info"
    },
    "license" : {
      "name" : "MIT",
      "url" : "https://github.com/NNRUG/it52-rails/blob/it52/LICENSE.md"
    }
  },
  "paths" : {
    "/events" : {
      "get" : {
        "summary" : "Events index",
        "operationId" : "eventsIndex",
        "description" : "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "description" : "page number",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "tag",
          "description" : "filter events by string",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "events index",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Event"
                      }
                    },
                    "links" : {
                      "type" : "object",
                      "properties" : {
                        "self" : {
                          "type" : "string"
                        },
                        "next" : {
                          "type" : "string"
                        },
                        "prev" : {
                          "type" : "string"
                        }
                      }
                    },
                    "meta" : {
                      "type" : "object",
                      "properties" : {
                        "total_count" : {
                          "type" : "integer"
                        },
                        "total_pages" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Event" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 123
          },
          "title" : {
            "type" : "string",
            "example" : "My Event"
          },
          "created_at" : {
            "type" : "string"
          },
          "updated_at" : {
            "type" : "string"
          },
          "started_at" : {
            "type" : "string"
          },
          "published" : {
            "type" : "boolean"
          },
          "description" : {
            "type" : "string"
          },
          "title_image" : {
            "type" : "object",
            "properties" : {
              "url" : {
                "type" : "string"
              },
              "square_500" : {
                "type" : "object",
                "properties" : {
                  "url" : {
                    "type" : "string"
                  }
                }
              },
              "fb_1200" : {
                "type" : "object",
                "properties" : {
                  "url" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "place" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "foreign_link" : {
            "type" : "string"
          },
          "pageviews" : {
            "type" : "integer"
          },
          "kind" : {
            "type" : "string",
            "enum" : [ "event", "education" ]
          },
          "tag_list" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "User" : {
        "required" : [ "id", "email" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 123
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "example" : "senior@developer.dev"
          },
          "nickname" : {
            "type" : "string",
            "example" : "cool_hacker"
          },
          "role" : {
            "type" : "string",
            "enum" : [ "member", "admin" ]
          },
          "first_name" : {
            "type" : "string"
          },
          "last_name" : {
            "type" : "string"
          },
          "bio" : {
            "type" : "string"
          },
          "avatar_image" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "website" : {
            "type" : "string"
          },
          "employment" : {
            "type" : "string"
          }
        },
        "type" : "object"
      }
    }
  }
}