= cache [@pages, @events]
  |<?xml version="1.0" encoding="UTF-8"?>
  urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
    - [root_url, events_url, past_events_url, users_url].each do |index_url|
      url
        loc = index_url
        changefreq hourly
        priority 1

    - @pages.each do |page|
      url
        loc = page_url(page)
        changefreq daily
        priority 0.4

    - @events.each do |event|
      url
        loc = event_url(event)
        changefreq daily
        lastmod = l event.updated_at, format: :sitemap
        priority 0.9

    / - @users.each do |user|
    /   url
    /     loc = user_url(user)
    /     changefreq daily
    /     lastmod = l user.updated_at, format: :sitemap
    /     priority 0.5
