@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 100
  src: asset-url("HelveticaNeue-UltraLight.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 200
  src: asset-url("HelveticaNeue-Thin.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 300
  src: asset-url("HelveticaNeue-Light.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 400
  src: asset-url("HelveticaNeue.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 500
  src: asset-url("HelveticaNeue-Medium.otf")


@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 700
  src: asset-url("HelveticaNeue-Bold.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 100
  src: asset-url("HelveticaNeue-UltraLightItalic.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 200
  src: asset-url("HelveticaNeue-ThinItalic.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 300
  src: asset-url("HelveticaNeue-LightItalic.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 400
  src: asset-url("HelveticaNeue-Italic.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 500
  src: asset-url("HelveticaNeue-MediumItalic.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: italic
  font-weight: 700
  src: asset-url("HelveticaNeue-BoldItalic.otf")

@font-face
  font-family: "Helvetica Neue Condensed"
  font-style: normal
  font-weight: 700
  src: asset-url("HelveticaNeue-CondensedBold.otf")

@font-face
  font-family: "Helvetica Neue"
  font-style: normal
  font-weight: 800
  src: asset-url("HelveticaNeue-CondensedBlack.otf")
