$sidebar-default-links-color: #ccc
$sidebar-bg-color: #444

$social-sidebar-widgets-width: 273px

$default-transition-duration: .3s

$facebook-brand-color: #3b5998
$vk-brand-color: #45668e
$github-brand-color: #fff
$google-brand-color: #dd4b39
$twitter-brand-color: #55acee

$sidebar-width: 250px
$sidebar-height-sm: 120px
$sidebar-logo-width-md: 100px
$sidebar-logo-width-sm: 100px
$sidebar-logo-width-xs: 80px

$color-rosewood: #700F00

$navbar-default-bg: white


.blink_me
  animation: blinker 1s linear infinite

@keyframes blinker
  50%
    opacity: 0

.it52-logo
  font-family: 'Fira Mono'
  font-weight: 500
  font-size: 26px
  line-height: 1.4
  color: #111
  position: relative
  margin: 0
  letter-spacing: -1px
  &::first-letter
    margin-right: -1px
  &::after
    content: '2'
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 1.5rem
    background: #111
    color: #fefefe
    text-align: right
  &::before
    content: '>'
    position: absolute
    top: 0
    left: -1.6rem
  &:hover::before
    animation: blinker 1s step-start infinite

body
  padding-top: 70px

.navbar.navbar-footer
  margin-top: 20px
  margin-bottom: 0
  border-bottom: none

.navbar-avatar
  max-height: 20px
  transform: scale(2) translateX(-5px)


.event-header,
.event-subheader
  font-weight: 300
  margin-top: 0
  margin-bottom: 0
  // margin-bottom: 30px

  a
    color: $color-rosewood
    &:hover
      color: darken($color-rosewood, 10%)
      text-decoration: none
