- icon = t("social.#{provider}.icon")

li = link_to omniauth_authorize_path(:user, provider), class: %(btn btn-#{icon} btn-social) do
  i.fas> class="fa-#{icon}"
  span< = t("social.#{provider}.name")
