- icon = t("social.#{provider}.icon")

li = link_to omniauth_authorize_path(:user, provider), class: %(btn btn-#{icon} btn-social), :"data-turbolinks" => false do
  i.fab> class="fa-#{icon}"
  span< = t("social.#{provider}.name")
