ruby:
  structured_data = {
    '@context': 'http://schema.org',
    '@type': 'Organization',
    name: 'it52',
    legalName: 'it52',
    url: 'https://www.it52.info',
    logo: asset_url('it52-logo-192x192.png'),
    foundingDate: '2014',
    founders: [{
      '@type': 'Person',
      'name': 'Nick Kugaevsky'
    },{
      '@type': 'Person',
      'name': 'Igor Pozumentov'
    }],
    address: {
      '@type': 'PostalAddress',
      addressRegion: 'Nizhniy Novgorod',
      postalCode: '603000',
      addressCountry: 'Russia'
    },
    contactPoint: {
      '@type': 'ContactPoint',
      contactType: 'customer support',
      email: 'events@it52.info',
      url: 'https://www.it52.info/about'
    },
    sameAs: [
      'http://www.facebook.com/it52info',
      'http://vk.com/it52info',
      'https://t.me/it52info'
    ]}

script type="application/ld+json" == structured_data.to_json

.page-header
  h1 Нижегородское IT-сообщество

  p it52 — это некоммерческое сообщество энтузиастов, которые думают, что могут сделать жизнь нижегородского айтишника немного лучше. Мы помогаем организовывать профильные мероприятия, ведём афишу событий, курируем несколько чатиков в телеграме и групп в соцсетях, и кажется, что у нас получается.

  h2 Наш манифест
  
  h4 — Мы выступаем за открытое распространение знаний для всех и каждого.
    
  h4 — Мы выступаем за общество, которое продвигает вежливость в общении, уважение к человеческому достоинству и право на свободу мысли.
    
  h4 — Мы выступаем за общество, которое поддерживает критическое мышление, аргументированные дискуссии, распространение знаний и достоверность фактов.
    
  h4 — Мы выступаем за взаимодействие, которое способствует сотрудничеству между различными сообществами ради общего блага.

  h2 Наши принципы
  h4 Принцип #1
  p Взаимодействие - это неотъемлемая часть современной жизни, ключевой компонент в образовании, общении, сотрудничестве, бизнесе, развлечении и структуре общества в целом.

  h4 Принцип #2
  p Сообщества должны быть общественными ресурсами, которые должны оставаться открытыми и доступными. 
  
  h4 Принцип #3
  p Люди должны иметь возможность формировать сообщества и свое пребывание в них.

  h4 Принцип #4
  p Сообщества должны быть общественными ресурсами, которые должны оставаться открытыми и доступными.

  h4 Принцип #5
  p Прозрачные процессы способствуют сотрудничеству, повышают ответственность и доверие.
    
  h4 Принцип #6
  p Коммерческое участие в развитии сообществ дает большую выгоду; при этом важно соблюдать баланс между коммерческим доходом и общественной пользой 