default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  min_messages: WARNING
  pool: 5
  username: postgres
  host: db
  port: 5433

development:
  <<: *default
  database: it52_rails_dev

test:
  <<: *default
  database: it52_rails_test

production:
  <<: *default
  database: it52_rails_prod
