default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: it52_rails_dev

test:
  <<: *default
  database: it52_rails_test

production:
  <<: *default
  database: it52_rails_prod
  username: it52_rails
  password: securepass
